*{
    margin: 0;
    padding: 0;
}
@font-face{
    src: url("COMFORTAA.BOLD.TTF");
    font-family: Comfortaa;
}
body{
    background-color: #57559e;
    font-family: Comfortaa;
    font-size: 40px;
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    flex-direction: column;
}
.bola{
    width: 50px;
    height: 50px;
    background-color: #d2dd30;
    border-radius: 25px;
    position: absolute;
}